@value whiteSmoke from 'styles/utils/colors';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: Helvetica Neue, Helvetica, Arial;
  background: whiteSmoke;
  color: #4d4d4d;
  font-weight: 300;
}
