@value dark, white, gradientTop, gradientBottom from "styles/utils/colors.css";
@value small as bp-small, large as bp-large from "styles/utils/breakpoints.css";

:root {
  font-size: 12px;
  @media bp-small {
    font-size: 14px;
  }
  @media bp-large {
    font-size: 16px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Avenir Next", Avenir, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background: linear-gradient(to bottom, gradientTop 0%, gradientBottom 100%);
  color: white;
}
