@value primary, white from "styles/utils/colors.css";

:global {
  a {
    color: white;
    &:hover,
    &.active {
      border-bottom: 1px solid primary;
    }
    &.active {
      color: primary;
    }
  }
}
