@value primary, white from "styles/utils/colors.css";

:global {
  a {
    text-decoration: none;
    color: white;

    &:hover,
    &.active {
      border-bottom: 1px solid primary;
    }

    &.active {
      color: primary;
    }
  }
}
