@value dark, white from "styles/utils/colors.css";

.list {
  margin-top: 2rem;
  list-style: none;
}

.item {
  padding: 1rem;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  background: #fff;
  color: dark;
}
