@value dark, white from "styles/utils/colors.css";

.list {
  margin-top: 2rem;
  list-style: none;
}

.item {
  padding: 1rem;
  border-bottom: 1px solid color(#433a5a alpha(25%));
  background: #eef3f5;
  color: dark;
}
