@value whiteSmoke from 'styles/colors';

.list {
  margin-top: 2rem;
  list-style: none;
}

.item {
  padding: 1rem;
  border-top: 1px solid whiteSmoke;
  border-bottom: 1px solid whiteSmoke;
  background: #fff;
}
