@value primary, lite from "styles/utils/colors.css";

.base {
  composes: container from "styles/utils/layout.css";
  text-align: center;
}

.number {
  display: inline-block;
  width: 5.5rem;
  height: 5.5rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-size: 2rem;
  border-radius: 50%;
  background: primary;
}
