@value primary, lite from "styles/utils/colors.css";

.base {
  composes: container from "styles/utils/layout.css";
  text-align: center;
}

.number {
  position: relative;
  display: inline-block;
  width: 5.5rem;
  height: 5.5rem;
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  font-size: 2rem;
  border-radius: 50%;
  background: primary;
  .animate & {
    animation: pulse 0.5s ease-out forwards;
  }
  span {
    position: relative;
    z-index: 1;
  }
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0.5);
  }
  &::before {
    .animate & {
      background: color(#75d2d3 alpha(30%));
      animation: ripple 0.8s cubic-bezier(0.2, 0.7, 0.4, 1) 0.2s forwards;
    }
  }
  &::after {
    .animate & {
      background: color(#75d2d3 alpha(70%));
      animation: ripple 0.8s cubic-bezier(0.2, 0.7, 0.4, 1) 0.5s forwards;
    }
  }
}

.actions {
  button {
    margin: 0.5rem;
    padding: 0.25rem 0.8rem;
    border: 1px solid primary;
    border-radius: 2px;
    color: primary;
    font-weight: 300;
    &:hover {
      background: color(#fff alpha(10%));
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.08);
  }
  30% {
    transform: scale(1.1);
  }
  60% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes ripple {
  0% {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(2.2);
    opacity: 0;
  }
}
