@value dark, secondary from "styles/utils/colors.css";

.item {
  padding: 1rem;
  border-bottom: 1px solid color(#433a5a alpha(25%));
  background: #eef3f5;
  color: dark;
  &:hover .remove {
    opacity: 1;
  }
}

.itemText {
  width: calc(100% - 40px);
  display: inline-block;
  outline: none;
  letter-spacing: normal;
}

.remove {
  opacity: 0;
  float: right;
  transition: opacity 0.2s;
  cursor: pointer;
  &:hover {
    color: secondary;
    font-weight: 600;
  }
}

.completed {
  .itemText {
    text-decoration: line-through;
    opacity: 0.5;
  }
}
