:root {
  /* Colors */
  --primary: #00BCD4;
  --secondary: #006064;
  --lite: #E3F2FD;
  --dark: #0D47A1;
  --white: #f6f4f9;
  --black: #000;

  /* Background Gradients */
  --gradientTop: #64B5F6;
  --gradientBottom: #2196F3;
}
