* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  height: 100vh;
  background-color: #eef3f5;
  font-family: Helvetica Neue, Helvetica, Arial;
  text-align: center;
}

button {
  padding: 5px;
}
